.star-wrapper {
  display: flex;
  gap: 8px;

  .star {
    font-size: 25px;
    @media screen and (max-width: $breakup) {
      font-size: 18px;
    }
  }

  .full {
    color: $lightRed;
  }
  .empty {
    color: $grey;
  }
}
