/***************************Setting colors***************************/
/****************************setting fonts***************************/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
/**************************setting text***************************/
body {
  font-size: 18px;
  font-weight: 500;
}

h1 {
  font-size: 48px;
  font-weight: 500;
}

.home-page-title {
  font-size: 48px;
  font-weight: 500;
  color: #ffffff;
}

.appartement-page-title {
  font-size: 36px;
  font-weight: 500;
  color: #ff6060;
}

footer,
.nav-wrapper {
  font-size: 24px;
}
footer .a,
.nav-wrapper .a {
  color: #ff6060;
}

.tag {
  font-size: 14px;
  color: #ffffff;
}

/*************************Setting mixin************************/
/***************************************************************/
/*setting*/
/***************************************************************/
/*************************Setting page**************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  margin-block: 0;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

body {
  max-width: 1850px;
  text-align: center;
  background-color: #ffffff;
  margin: 0 auto;
}

/*************Text link & img fit & icone color***************/
a,
a:visited {
  color: #ff6060;
  text-decoration: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

/*************************breakup**************************/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 45px 5% 50px 5%;
}
header nav {
  display: flex;
  -moz-columns: 50%;
       columns: 50%;
  gap: 57px;
}
header nav a {
  transition: 0.4s ease-in-out;
}
header nav a:hover {
  text-decoration: underline;
}
header nav .active {
  text-decoration: underline;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #ffffff;
  gap: 28px;
  padding: 66px 0 29px 0;
  width: 100%;
  margin-top: 60px;
}

.main-home {
  margin: 0 4%;
}
.main-home .banner-image-wrapper {
  position: relative;
}
.main-home .banner-image-wrapper h2 {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.main-home .banner-image-wrapper .seaImage {
  width: 100%;
  height: 223px;
  border-radius: 25px;
  filter: brightness(0.65) contrast(150%);
  z-index: 0;
}
.main-home .cards-container {
  background-color: #f6f6f6;
  display: grid;
  justify-content: center;
  grid-template-columns: 30% 30% 30%;
  -moz-column-gap: 3.4%;
       column-gap: 3.4%;
  row-gap: 42px;
  padding: 56px 3.3% 43px 3.3%;
  margin: 50px 0 50px 0;
  border-radius: 25px;
}
.main-home .cards-container .card-wrapper {
  position: relative;
  width: 100%;
  height: 340px;
}
.main-home .cards-container .card-wrapper img {
  width: 100%;
  height: 100%;
  filter: brightness(0.7) contrast(130%);
  border-radius: 10px;
  z-index: 0;
}
.main-home .cards-container .card-wrapper .appartement-title {
  position: absolute;
  text-align: left;
  width: 75%;
  top: 95%;
  left: 15%;
  transform: translate(-15%, -95%);
  z-index: 1;
  color: #ffffff;
}

.appartements {
  margin: 0 4%;
  height: 100%;
}
.appartements .image_wrapper {
  position: relative;
}
.appartements .image_wrapper .appartement-image {
  width: 100%;
  height: 415px;
  border-radius: 25px;
}
.appartements .image_wrapper .fa-chevron-right,
.appartements .image_wrapper .fa-chevron-left {
  position: absolute;
  color: #ffffff;
  font-size: 80px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.appartements .image_wrapper .fa-chevron-right:hover,
.appartements .image_wrapper .fa-chevron-left:hover {
  color: #ff6060;
}
.appartements .image_wrapper .fa-chevron-left {
  top: 50%;
  left: 2%;
  transform: translate(-2%, -50%);
}
.appartements .image_wrapper .fa-chevron-right {
  top: 50%;
  right: 2%;
  transform: translate(-2%, -50%);
}
.appartements .image_wrapper .counter {
  position: absolute;
  right: 50%;
  top: 90%;
  transform: translate(-50%, -90%);
  color: #ffffff;
}
.appartements .profil-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ff6060;
  margin-top: 20px;
}
.appartements .profil-container .title-wrapper {
  text-align: left;
}
.appartements .profil-container .title-wrapper .location {
  margin-top: 5px;
}
.appartements .profil-container .profil-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.appartements .profil-container .profil-wrapper .profil-name {
  text-align: right;
}
.appartements .profil-container .profil-wrapper .profil-picture {
  width: 64px;
  height: 64px;
  border-radius: 100%;
}
.appartements .rating-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.appartements .rating-container .tag-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.appartements .rating-container .tag-wrapper .tag {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  background-color: #ff6060;
  border-radius: 10px;
  padding: 3px 40px;
}
.appartements .rating-container .star-wrapper {
  display: flex;
  gap: 8px;
}
.appartements .rating-container .star-wrapper .star {
  font-size: 25px;
}
.appartements .rating-container .star-wrapper .full {
  color: #ff6060;
}
.appartements .rating-container .star-wrapper .empty {
  color: #bcbcbc;
}
.appartements .dropdown-container {
  display: flex;
  gap: 8%;
  height: 100%;
}
.appartements .dropdown-container .dropdown-wrapper {
  width: 46%;
  margin: 24px 0 0 0;
  color: #ffffff;
}
.appartements .dropdown-container .dropdown-wrapper .menu-wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  background-color: #ff6060;
  border-radius: 10px;
  padding: 15px 20px 15px 10px;
}
.appartements .dropdown-container .dropdown-wrapper .menu-wrapper .fa-chevron-up {
  font-size: 25px;
  cursor: pointer;
}
.appartements .dropdown-container .dropdown-wrapper .dropdown {
  position: relative;
  z-index: 1;
  max-height: 0;
  overflow: hidden;
  top: -50px;
  text-align: left;
  color: #ff6060;
  background-color: #f6f6f6;
  padding: 15px;
  transition: max-height 0.4s ease-in-out, transform 0.4s ease-in-out;
}
.appartements .dropdown-container .dropdown-wrapper .active {
  transform: translateY(50px);
  max-height: 300px;
}/*# sourceMappingURL=index.css.map */