/****************************setting fonts***************************/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

/**************************setting text***************************/

body {
  font-size: 18px;
  font-weight: 500;
}

h1 {
  font-size: 48px;
  font-weight: 500;
}

.home-page-title {
  font-size: 48px;
  font-weight: 500;
  color: $white;
}

.appartement-page-title {
  font-size: 36px;
  font-weight: 500;
  color: $lightRed;
}

footer,
.nav-wrapper {
  font-size: 24px;

  .a {
    color: $lightRed;
  }
}

.tag {
  font-size: 14px;
  color: $white;
}
