/***************************************************************/
/*setting*/
/***************************************************************/
/*************************Setting page**************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  margin-block: 0;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

body {
  max-width: 1850px;
  text-align: center;
  background-color: $white;
  margin: 0 auto;
}

/*************Text link & img fit & icone color***************/
a,
a:visited {
  color: $lightRed;
  text-decoration: none;
}

img {
  object-fit: cover;
}

/*************************breakup**************************/
$breakup-tablette: 650px;
$breakup-desktop: 1060px;
